__pycache__/
*.pyc
galgame_web/galgame/assets/*.png
galgame_web/galgame/assets/*.jpg
galgame_web/galgame/assets/*.jpeg
galgame_web/galgame/assets/*.webp
galgame_web/galgame/assets/*.bmp
galgame_web/galgame/assets/*.gif
